body {
  background-color: #0e4a80
}
.site {
 width:400px;
  justify-content: center;
  border-style: dashed;
  border-radius: 50px; 
  align-items: center;
  
}
img {
  height: 150px;
  width: 500px;
  margin: 10;
  border-color: #9daecc;
  border-radius: 50px;
  border-style: dashed;
  display: block;
  max-width: 100%;
  margin: 10px auto;
}
h1 {
  text-align: center; 
  text-decoration: underline;
  font-family: cursive;
    color: black; 
   border-bottom: 2px solid ;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

h5{
  text-align: center; 
  font-size: 18px;
   border-bottom: 2px solid ;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.s1{
  width: 300px;
}

li {
  color: #158fd4;
  border-style: groove;
  border-color: #ffffff;
  background-color: #0e4a80;
}

.s1{
  border-style: double;
  border-radius: 20px;
    border-color: #9daecc;
  margin: 20px;
}
img:hover {
  width: 350px;
  border-color: #158fd4;
  border-width: 10px;
}

a{
  font-size: 20px;
}
a:hover{
  font-size: 30px;
  color: azure;
}

.navbar{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.spics{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
